@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 86%;
		--foreground: 0 0% 8%;
		--card: 0 0% 88%;
		--card-foreground: 0 0% 15%;
		--section: 0 0% 85%;
		--section-foreground: 0 0% 18%;
		--popover: 0 0% 85%;
		--popover-foreground: 0 0% 10%;
		--primary: 174 25% 51%;
		--primary-foreground: 0 0% 25%;
		--secondary: 0 0% 77%;
		--secondary-foreground: 0 0% 10%;
		--muted: 0 0% 80%;
		--muted-foreground: 0 0% 40%;
		--accent: 0 0% 75%;
		--accent-foreground: 0 0% 10%;
		--destructive: 0 62.8% 40%;
		--destructive-foreground: 0 0% 100%;
		--border: 0 0% 65%;
		--input: 0 0% 65%;
		--ring: 174 50% 45%;
		--radius: 0.5rem;
	}
	.dark {
		--background: 0 0% 8%;
		--foreground: 60 9.1% 87%;
		--card: 0 0% 11%;
		--card-foreground: 60 9.1% 88%;
		--section: 0 0% 7%;
		--section-foreground: 60 9.1% 80%;
		--popover: 20 14.3% 4.1%;
		--popover-foreground: 60 9.1% 97.8%;
		--primary: 174 25% 51%;
		--primary-foreground: 24 9.8% 10%;
		--secondary: 12 6.5% 15.1%;
		--secondary-foreground: 60 9.1% 97.8%;
		--muted: 12 6.5% 15.1%;
		--muted-foreground: 24 5.4% 63.9%;
		--accent: 12 6.5% 15.1%;
		--accent-foreground: 60 9.1% 97.8%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 60 9.1% 97.8%;
		--border: 0 0% 23%;
		--input: 0 0% 23%;
		--ring: 174 50% 45%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}

	.section-container {
		@apply bg-section rounded-lg border p-7;
	}
}
